<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>client-mobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>39</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
				<key>dateExpires</key>
				<string>2027/6/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>20250625</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OnlyGdr.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OnlyNetWorking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OnlyQYChat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OnlySDKCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>20250625</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>167</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QYSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UnionOpenPlatformCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>66A8C7F0245A8CEF88A6D4098683FB67713D7DE5</string>
						<key>dateExpires</key>
						<string>2027/6/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UnionOpenPlatformDataLink.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3A35CBJZ4G</string>
						<key>name</key>
						<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3A35CBJZ4G.com.blrpj.hnhy.ios</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3A35CBJZ4G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>client-mobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2294b009-5add-4112-8763-589de9b7f016</string>
				<key>dateExpires</key>
				<string>2027/6/24</string>
				<key>name</key>
				<string>dis</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3A35CBJZ4G</string>
				<key>name</key>
				<string>Hainan Huanyou Network Technology Co.,Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.10</string>
		</dict>
	</array>
</dict>
</plist>
