<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>appAgeRatings</key>
	<dict>
		<key>US</key>
		<dict>
			<key>clientId</key>
			<integer>313</integer>
			<key>label</key>
			<string>13+</string>
		</dict>
	</dict>
	<key>apple-id</key>
	<string>a2455958298@163.com</string>
	<key>artistId</key>
	<integer>1684349733</integer>
	<key>artistName</key>
	<string>OpenAI OpCo, LLC</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>142526813</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>ChatGPT</string>
	<key>bundleShortVersionString</key>
	<string>1.2026.069</string>
	<key>bundleVersion</key>
	<string>23081385980</string>
	<key>copyright</key>
	<string>© 2025 OpenAI OpCo L.L.C.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>效率</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>ipaInstallPath</key>
	<string>/var/folders/l0/bz27zb114p19gg3qsd0mmbl00000gn/T/com.apple.configurator.xpc.InternetService/TemporaryItems/MobileApps/6448311069/B4556495-FF02-437F-97C5-3D334348FAE1</string>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>6448311069</integer>
	<key>itemName</key>
	<string>ChatGPT</string>
	<key>kind</key>
	<string>software</string>
	<key>nameTranscriptions</key>
	<dict>
		<key>zh-Hans-CN</key>
		<array>
			<string>ChatGPT</string>
		</array>
	</dict>
	<key>playlistName</key>
	<string>OpenAI OpCo, LLC</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string></string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶尔/轻微的卡通或幻想暴力 , 信息和聊天 , 偶尔/轻微的惊悚或恐怖题材 , 偶尔/轻微的烟酒或毒品使用或相关内容 , 偶尔/轻微的现实暴力 , 偶尔/轻微的亵渎或低俗幽默 , 偶尔/轻微的色情内容或裸露 , 广告 , 健康或保健主题 , 年龄验证 , 偶尔/轻微的医药或医疗信息 and 家长控制</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2023-05-18T07:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/6d/c1/85/6dc185d1-e63c-3b62-f6b8-63c6b0e59629/AppIcon-0-0-1x_U007epad-0-0-0-1-0-P3-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.openai.chat</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>883363049</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>856638501</integer>
		<integer>857146407</integer>
		<integer>857195392</integer>
		<integer>857310020</integer>
		<integer>857340200</integer>
		<integer>857481048</integer>
		<integer>857709166</integer>
		<integer>858017468</integer>
		<integer>858144787</integer>
		<integer>858287150</integer>
		<integer>858385009</integer>
		<integer>858551031</integer>
		<integer>858603192</integer>
		<integer>858859125</integer>
		<integer>859007558</integer>
		<integer>859063393</integer>
		<integer>859159199</integer>
		<integer>859312915</integer>
		<integer>859428755</integer>
		<integer>859603512</integer>
		<integer>859838683</integer>
		<integer>859931814</integer>
		<integer>859973177</integer>
		<integer>860138435</integer>
		<integer>860357566</integer>
		<integer>860550066</integer>
		<integer>860706854</integer>
		<integer>860903694</integer>
		<integer>861075915</integer>
		<integer>861235076</integer>
		<integer>861319837</integer>
		<integer>861351436</integer>
		<integer>861571909</integer>
		<integer>861971528</integer>
		<integer>862127351</integer>
		<integer>862158478</integer>
		<integer>862305459</integer>
		<integer>862373931</integer>
		<integer>862706504</integer>
		<integer>862950374</integer>
		<integer>863015316</integer>
		<integer>863216107</integer>
		<integer>863327867</integer>
		<integer>863354797</integer>
		<integer>863457004</integer>
		<integer>863682404</integer>
		<integer>863789010</integer>
		<integer>863896265</integer>
		<integer>864034036</integer>
		<integer>864205900</integer>
		<integer>864364452</integer>
		<integer>864533332</integer>
		<integer>864564436</integer>
		<integer>864706817</integer>
		<integer>864964450</integer>
		<integer>865047258</integer>
		<integer>865220251</integer>
		<integer>865394371</integer>
		<integer>865572917</integer>
		<integer>865743622</integer>
		<integer>865930653</integer>
		<integer>865997805</integer>
		<integer>866079930</integer>
		<integer>866111455</integer>
		<integer>866280589</integer>
		<integer>866417944</integer>
		<integer>866584998</integer>
		<integer>866769198</integer>
		<integer>866944477</integer>
		<integer>867009359</integer>
		<integer>867119218</integer>
		<integer>867492786</integer>
		<integer>867660658</integer>
		<integer>867696151</integer>
		<integer>867785620</integer>
		<integer>867879069</integer>
		<integer>867989707</integer>
		<integer>868054651</integer>
		<integer>868155972</integer>
		<integer>868327243</integer>
		<integer>868394551</integer>
		<integer>868506518</integer>
		<integer>868762670</integer>
		<integer>868877669</integer>
		<integer>869045874</integer>
		<integer>869219884</integer>
		<integer>869278880</integer>
		<integer>869390120</integer>
		<integer>869542939</integer>
		<integer>869735790</integer>
		<integer>869874215</integer>
		<integer>870057207</integer>
		<integer>870086256</integer>
		<integer>870191964</integer>
		<integer>870215971</integer>
		<integer>870375483</integer>
		<integer>870513194</integer>
		<integer>870540184</integer>
		<integer>870598064</integer>
		<integer>870678639</integer>
		<integer>870734233</integer>
		<integer>870932469</integer>
		<integer>871047119</integer>
		<integer>871076069</integer>
		<integer>871163663</integer>
		<integer>871244884</integer>
		<integer>871272831</integer>
		<integer>871595991</integer>
		<integer>871728106</integer>
		<integer>871929948</integer>
		<integer>872095880</integer>
		<integer>872181671</integer>
		<integer>872193675</integer>
		<integer>872213966</integer>
		<integer>872250481</integer>
		<integer>872391320</integer>
		<integer>872429645</integer>
		<integer>872611560</integer>
		<integer>872641290</integer>
		<integer>872801200</integer>
		<integer>872973262</integer>
		<integer>872982892</integer>
		<integer>873166030</integer>
		<integer>873348662</integer>
		<integer>873532972</integer>
		<integer>873713665</integer>
		<integer>873887566</integer>
		<integer>874065073</integer>
		<integer>874226650</integer>
		<integer>874409877</integer>
		<integer>874571389</integer>
		<integer>874760014</integer>
		<integer>874947937</integer>
		<integer>875121299</integer>
		<integer>875302516</integer>
		<integer>875480755</integer>
		<integer>875516210</integer>
		<integer>875678012</integer>
		<integer>875858668</integer>
		<integer>876242816</integer>
		<integer>876429199</integer>
		<integer>876622234</integer>
		<integer>876820678</integer>
		<integer>876877247</integer>
		<integer>877006110</integer>
		<integer>877041358</integer>
		<integer>877203466</integer>
		<integer>877398666</integer>
		<integer>877603419</integer>
		<integer>877633282</integer>
		<integer>877795141</integer>
		<integer>877986772</integer>
		<integer>878182169</integer>
		<integer>878344072</integer>
		<integer>878346639</integer>
		<integer>878408315</integer>
		<integer>878572360</integer>
		<integer>878720478</integer>
		<integer>878840890</integer>
		<integer>878931662</integer>
		<integer>879011515</integer>
		<integer>879150861</integer>
		<integer>879317465</integer>
		<integer>879507353</integer>
		<integer>879746662</integer>
		<integer>879876613</integer>
		<integer>880114255</integer>
		<integer>880248102</integer>
		<integer>880311882</integer>
		<integer>880359461</integer>
		<integer>880577020</integer>
		<integer>880770308</integer>
		<integer>880953185</integer>
		<integer>881232567</integer>
		<integer>881299032</integer>
		<integer>881509750</integer>
		<integer>881867230</integer>
		<integer>882156712</integer>
		<integer>882416047</integer>
		<integer>882573428</integer>
		<integer>882787588</integer>
		<integer>882878704</integer>
		<integer>883023072</integer>
		<integer>883363049</integer>
	</array>
	<key>userName</key>
	<string>a2455958298@163.com</string>
	<key>vendorId</key>
	<integer>126270267</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
